.subtable > td {
    padding-left: 30px !important;
}

.subtable table {
    border: none 0;
}

.subtable td, .subtable th {
    border: none 0;
}

#characteristics {
    overflow-y: scroll;
    overflow-x: none;
}

/* selectable tables */
.table-selectable tbody tr {
    cursor: pointer;
}

tbody tr.selected, tbody tr.selected:hover {
    background-color: lightBlue;
}
