/* Area Chart */
.layer-cake {
  margin-top: 80px;
}

.layer-cake .navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.layer-cake .navbar-default .navbar-nav a {
  font-size: 12px;
}
.layer-cake .navbar-default .navbar-nav>.active>a,
.layer-cake .navbar-default .navbar-nav>.active>a:focus,
.layer-cake .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
}

.vis-stacked .axis path,
.vis-stacked .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area{
  opacity: 0.8;
  clip-path: url(#clip);
}

.rightLegend{
  opacity: 0.8;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

path.highlight, path.highlight:hover{
    stroke: #FFFF00;
    stroke-width: 2;
    opacity: 1;
  }

path.selected, path.selected:hover{
    fill: yellow;
    font-weight: bold;
    stroke: #FFFF00;
    stroke-width: 2;
    opacity: 1;
  }

.chartDataLabel{
 font-size: 11px;
}

#RightLegendHeader{
  font-weight: bold;
   font-size: 12px;
}

.square {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  height: 15px;
  width: 15px;
  vertical-align: top;
  border-radius: 8px;
  margin-top: 2px;
  margin-right: 3px;
}