/* Area Chart */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
