/* Area Chart */

.vis-stacked .axis path,
.vis-stacked .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area{
  opacity: 0.8;
  clip-path: url(#clip);
}

.rightLegend{
  opacity: 0.8;
}
.area:hover, .rightLegend:hover {
  stroke: #FFFF00;
  stroke-width: 1; 
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.hover {
    fill: yellow;
    stroke: "black";
    stroke-width: 1;
    fill-opacity: .125;
}