@import "radar-chart.css";
@import "area-chart.css";
@import "tree.css";
@import "timeline.css";
@import "stories.css";

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

.lil-bigger {
    font-size: 1.5em;
}

/* palette */
.bg-steady-grey {
    background-color: #E9E9E9;
}
.bg-vitaminc {
    background-color: #FF9900;
}
.bg-darkest-grey {
    background-color: #424242;
}
.bg-darker-grey {
    background-color: #BCBCBC;
}
.bg-blue, .bg-info {
    background-color: #3299BB;
    color: #E9E9E9;
}
.bg-white {
    background-color: #FFF;
}

nav.navbar.navbar-inverse {
    border-radius: 0px;
}

/* Index page */

html, body {
    background-color: #FFF;
    color: #424242;
    font-family: Lora, serif;
    font-size: 16px;
    line-height: 1.5;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(23%, rgba(255,255,255,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bce0ee', GradientType=0 );
}

.shopgirl-bg {
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url("../img/girl-40200-small.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}

section.intro {
    margin-top: 22.25px;
    margin-bottom: 40px;
}

.vis-container {
    background-image: url("../img/landscape-307325.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.vis-title {
    margin-bottom: 40px;
}


// Allow svg elements inside the vis container to "pop out" of their containing elements
.vis-container svg:not(:root), .container svg:not(:root), #timeline svg {
    overflow: visible !important;
}

#value-type {
    width: auto;
}

.jumbotron {
    height: auto;
    margin-bottom: 0px;
    padding: 20px;
    background-color: transparent;
}

.jumbotron p.intro {
    margin-top: 2em;
    padding-left: 20px;
    border-left: solid 5px #FF9900;
    opacity: 0.9;
}

.jumbotron h1, .jumbotron h2 {
    text-align: left;
    color: #FF9900;
    opacity: 0.9;
}

.jumbotron h1 {
    font-size: 8em;
    line-height: 1.0;
    font-weight: 900;
}

.jumbotron h2 {
    font-size: 4em;
}

/* Household section */

.household h1, .household h2 {
    text-align: center;
}

.multi-chart-title {
    text-align: center;
}


