@import "radar-chart.css";
@import "area-chart.css";
@import "tree.css";
@import "timeline.css";
@import "stories.css";

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

.lil-bigger {
    font-size: 1.5em;
}

/* palette */
.bg-steady-grey {
    background-color: #E9E9E9;
}
.bg-vitaminc {
    background-color: #FF9900;
}
.bg-darkest-grey {
    background-color: #424242;
}
.bg-darker-grey {
    background-color: #BCBCBC;
}
.bg-blue, .bg-info {
    background-color: #3299BB;
    color: #E9E9E9;
}
.bg-white {
    background-color: #F8F8F8;
}

nav.navbar.navbar-inverse {
    border-radius: 0px;
}

/* Index page */

html, body {
    background-color: #E9E9E9;
    color: #424242;
    font-family: Lora, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}

.container-fluid {
    width: 1366px;
}

/* floating nav */

.filtering-nav {
    height: 180px;
    border-bottom: 1px solid #e7e7e7;
}

.radar-charts {
    padding-top: 40px;
}

#area-chart-type {
    width: 400px;
}

.jumbotron {
    background-image: url(../img/jumbo1.jpg);
    background-size: cover;
    height: 900px;
    margin-bottom: 0px;
}

.jumbotron p.intro {
    margin-top: 2em;
    background-color: #E9E9E9;
    width: 450px;
    padding: 20px;
    border-left: solid 5px #FF9900;
    opacity: 0.9;
}

.jumbotron h1, .jumbotron h2 {
    text-align: left;
    color: #E9E9E9;
    opacity: 0.9;
}

.jumbotron h1 {
    font-size: 12em;
    line-height: 1.0;
    font-weight: 900;
}

.jumbotron h2 {
    font-size: 5em;
}

/* Household section */

.household h1, .household h2 {
    text-align: center;
}



