/*********************/
/*  TREE STYLES  */
/*********************/

#ground-line {
    fill: none;
    stroke: lightgreen;
    stroke-width: 2px;
}


#trunk-line {
    fill: none;
    stroke: brown;
    stroke-width: 5px;
}

.branch-line {
    fill: none;
    stroke: brown;
    stroke-width: 2px;
}

.branch-leaf {
    fill: none;
    stroke: none;
    stroke-width: 1px;
}

.leaf-label {
    fill: green;
    font-family: FontAwesome;
    font-size: 20px;
}