/*********************/
/*  TREE STYLES  */
/*********************/

.tree-charts {
    margin-bottom: 200px;
    margin-top: 80px;
}

.tree-charts h2 {

}

.ground {
    fill: #6B2F06;
}

.ground-year {
    fill: white;
    font-size: 20px;
    font-family: Lato, sans-serif;
}

.trunk-line {
    fill: none;
    stroke: brown;
    stroke-width: 10px;
}

.branch-line {
    fill: none;
    stroke: brown;
    stroke-width: 5px;
}

.branch-leaf {
    fill: none;
    stroke: none;
    stroke-width: 1px;
}

.leaf-label {
    fill: green;
    font-family: FontAwesome;
    font-size: 30px;
    cursor: pointer;
}

.dead-leaf-label {
    fill: #8C6430;
    font-family: FontAwesome;
    font-size: 30px;
    opacity: 0.0;
    cursor: pointer;
}

.flower-label {
    fill: #F7CBD8;
    font-family: FontAwesome;
    font-size: 0px;
    cursor: pointer;
}

.leaf-label-all-items {
    fill: darkgray;
    opacity: 0.5;
    font-family: FontAwesome;
    font-size: 25px;
    cursor: pointer;
}


.tree-top-label {
    fill: black;
    font-size: 20px;
    font-family: Lato, sans-serif;
}

.tree-top-bulb {
    fill: green;
    font-size: 40px;
}