/*********************/
/*  TREE STYLES  */
/*********************/

#ground-line {
    fill: none;
    stroke: lightgreen;
    stroke-width: 2px;
}


#trunk-line {
    fill: none;
    stroke: brown;
    stroke-width: 5px;
}

.branch-line {
    fill: none;
    stroke: brown;
    stroke-width: 2px;
}

.branch-leaf {
    fill: darkgreen;
    stroke: green;
    stroke-width: 1px;
}

.leaf-label {
    background-color: #E9E9E9;
    color: #424242;
    font-family: Lora, serif;
}