<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The American Consumer - 25 Years Of Spending Trends</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="lib/d3.min.js"></script>
        <script src="lib/d3.tip.js"></script>
        <script src="lib/jquery.min.js"></script>
        <script src="lib/underscore.min.js"></script>
        <script src="lib/queue.min.js"></script>
        <script src="lib/jquery-scrolltofixed.js"></script>
        <script src="js/timeline.js"></script>
        <script src="js/colorbrewer.js"></script>
        <script src="js/adjusted-dollars.js"></script>
        <script src="js/dataset.js"></script>
        <script src="js/radar.js"></script>
        <script src="js/multiple-plot.js"></script>
        <script src="js/stacked-area.js"></script>
        <script src="js/demographic-picker.js"></script>
        <script src="js/characteristic-picker.js"></script>
        <script src="js/tree.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body class="index">
        <div class="jumbotron">
            <div class="container shopgirl-bg">
            <h1>The American<br>Consumer</h1>
            <h2>30 Years Of Spending Trends</h2>

            <div class="row">
                <div class="col-sm-8">
                    <p class="intro">Every year the <a href="http://www.bls.gov/">Bureau of Labor Statistics</a> produces <a href="http://www.bls.gov/cex/">The Consumer Expenditure Survey</a>, a study that provides information on the buying habits of American consumers, including data on their expenditures, income, and consumer unit (families and single consumers) characteristics. <em>Here are a few stories as told by the data, and a playground to find more.</em></p>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                <h2>Walkthrough</h2>
                <p>Each visualization has been picked to facilitate the exploration of a different aspect of the dataset. For each visualization, we provide preset configurations that tell a story. Click the story links to read the text and associated data filters.</p>
                </div>
            </div>
            <section class="intro row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Who</h3>
                            <p>
                                The <a href="#radar">Radar Chart</a> is useful for exploring <em>who</em> is consuming what. Who's spending more on entertainment? Elderly or young? Northeasterners or Westerners? Low income earners or High-income earners? Who eats the most eggs? Buys the most personal care items?</li>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h3>What</h3>
                            <p>The <a href="#area">Area Chart</a> lets you drill down into the details of <em>what</em> the average american spends their money on. Expenditure items are grouped in convenient categories that can be expanded to examine the details.</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>How</h3>
                            <p>The <a href="#money-tree">Money Tree</a> is a unique visualization that gives insight into <em>how</em> the average american allocates key parts of their budget. In particular, it highlights the relative weight of those expenditures and the effect of changes in buying power.
                            </p>
                        </div>
                    </div>

                    <h2>Timeline</h2>
                    <p>The timeline displayed below will remain fixed as you navigate the visualizations below. Use it to select the range of years you want to examine and it will affect all the visualizations on the page. You may also change the unit used to display values to various absolute and relative formats.</p>
                    <p>Overlaid the timeline, markers indicate various major events that have occured since 1984.</p>
                </div>
            </section>
        </div>
        <section class="filtering-nav bg-white">
            <nav class="navbar navbar-default">
                <div class="container">
                    <span class="navbar-brand">The American Consumer</span>
                    <form class="navbar-form navbar-right">

                    </form>
                </div>
            </nav>
            <div class="container">
                <div id="timeline"></div>
            </div>
        </section>

        <div class="vis-container">
            <div class="container">
                <a name="radar" class="hidden"></a>
                <div class="radar-charts">
                    <div class="row">
                        <div class="col-sm-8">
                            <div id="radar-chart">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="radar-filter">
                                <label>Show values as</label>
                                <select class="form-control" id="value-type" onchange="wrangleAll()">
                                    <option value="adjustedValue">Inflation Adjusted Dollars</option>
                                    <option value="value">Raw dollars</option>
                                    <option value="valuePercentIncome">Percent of Income</option>
                                    <option value="percent">Percentage</option>
                                </select>
                            </div>
                            <hr class="style17">
                            <div class="stories">
                                <div class="current-story"></div>
                                <div class="story-picker">
                                    <hr class="style17">
                                    <h4>Choose a story</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layer-cake">
                    <div class="row">
                        <div class="col-sm-12">
                            <a name="area"></a>
                            <div class="household">
                                <h1>American Household Expenditures</h1>
                                <div class="vis-stacked">
                                    <div id="stacked-area-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tree-charts">
                    <a name="money-tree"></a>
                    <h2 class="text-center">The Money Tree</h2>
                    <ul>
                        <li>Tree Height = income earned</li>
                        <li>Branch length = % income spent category represented by leaf</li>
                        <li>Leaf Health = Tracks increase in category cost against inflation</li>
                        <ul>
                            <li>Size of pink flower represents difference at which item cost has grown SLOWER than inflation (good)</li>
                            <li>Browness of leaf represents difference at which item cost has grown FASTER than inflation (bad)</li>
                        </ul>
                    </ul>
                    <p>
                        The trees represent the beginning and end of the selected range in the timeline. Slide, expand or contract the timeline selection to see trends over time.
                    </p>
                    <p>
                        Refine the data by selecting from the various demographics, and hover over the leaves for more details.
                    </p>

                    <div class="row">
                        <div class="col-sm-12">
                            <div id="vis-tree">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="tree-demo-picker"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="tree-char-picker"></div>
                                    </div>
                                </div>
                                <div class="row" id="tree-grid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="template" id="standard-dropdown">
        <label for="<%-pickerId%>"><%-pickerName%></label>
        <select class="form-control" id="<%-pickerId%>">
            <% choices.forEach(function(c){ %>
            <option value="<%-c.value%>"><%-c.name%>
                <% }); %>
            </select>
        </script>
        <script type="template" id="multiple-plot-template">
            <div id="<%-plotId%>">
                <% var count = 1; %>
                <% for (var i=0; i < rowCount; i++) { %>
                <div class="row">
                    <% for (var j=0; j < colCount; j++) { %>
                    <div class="col-sm-<%= parseInt(12/colCount, 10)%>" id="<%-plotId%>-<%=count%>">
                    </div>
                    <% count++; %>
                    <% } %>
                </div>
                <% } %>
            </div>
        </script>

        <div class="hidden story" id="getting-old" data-demographic="LB04" data-item="HOUSING" data-value-type="adjustedValue" data-year-from="2004" data-year-to="2014">
            <h3>This Old House</h3>
            <p>In 2014, older households (those with a reference person 55 years and older) made up 41.5 percent of the <abbr title="Consumer Expenditure">CE</abbr> sample, compared with 37.5 percent in 2009 and 34.6 percent in 2004, reflecting the aging of the U.S. population.</p>
            <p>Housing was the greatest expense in dollar terms ($16,219) and as a share of annual expenditures (32.9 percent) for older households. The statistically significant decline in dollar expenditure reflects the decline in mortgage debt among (aging) households.</p>
        </div>
        <div class="hidden story" id="meat" data-demographic="LB08" data-item="BEEF" data-value-type="adjustedValue" data-year-from="2004" data-year-to="2014">
            <h3>Where's The Beef? (and Pork)</h3>
            <p>Looking at the data for the last ten years, there is a marked decrease in the amount of money spent on <a class="filter-link selected">beef</a> and <a class="filter-link">pork</a>, and generally on meats. What could it mean? The consumer price index does not suggest that meat got more affordable; are we making healthier choices?</p>
        </div>
    </body>
</html>