<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The American Consumer - 25 Years Of Spending Trends</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/d3.min.js"></script>
    <script src="lib/d3.tip.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="lib/queue.min.js"></script>
    <script src="lib/jquery-scrolltofixed.js"></script>
    <script src="js/timeline.js"></script>
    <script src="js/colorbrewer.js"></script>
    <script src="js/adjusted-dollars.js"></script>
    <script src="js/dataset.js"></script>
    <script src="js/radar.js"></script>
    <script src="js/multiple-plot.js"></script>
    <script src="js/stacked-area.js"></script>
    <script src="js/demographic-picker.js"></script>
    <script src="js/characteristic-picker.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/stories.js"></script>
    <script src="js/main.js"></script>
</head>

<body class="index">
    <div class="jumbotron">
        <div class="container shopgirl-bg">
            <h1>The American<br>Consumer</h1>
            <h2>30 Years Of Spending Trends</h2>
            <div class="row">
                <div class="col-sm-8">
                    <p class="intro">Every year the <a href="http://www.bls.gov/">Bureau of Labor Statistics</a> produces <a href="http://www.bls.gov/cex/">The Consumer Expenditure Survey</a>, a study that provides information on the buying habits of American consumers, including data on their expenditures, income, and consumer unit (families and single consumers) characteristics. <em>Here are a few stories as told by the data, and a playground to find more.</em></p>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Walkthrough</h2>
                <p>Each visualization has been picked to facilitate the exploration of a different aspect of the dataset. For each visualization, we provide preset configurations that tell a story. Click the story links and the corresponding filters will be selected.</p>
            </div>
        </div>
        <section class="intro row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Who</h3>
                        <p>The <a href="#" class="scrollto" data-position="1261">Radar Chart</a> is useful for exploring <em>who</em> is consuming what. Who's spending more on entertainment? Elderly or young? Northeasterners or Westerners? Low income earners or High-income earners? Who eats the most eggs? Buys the most personal care items?</li>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>What</h3>
                        <p>The <a href="#" class="scrollto" data-position="2116">Area Chart</a> lets you drill down into the details of <em>what</em> the average american spends their money on. Expenditure items are grouped in convenient categories that can be expanded to examine the details.</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>How</h3>
                        <p>The <a href="#" class="scrollto" data-position="3235">Money Tree</a> is a unique visualization that gives insight into <em>how</em> the average american allocates key parts of their budget. In particular, it highlights the relative weight of those expenditures and the effect of changes in buying power.
                        </p>
                    </div>
                </div>
                <h2>Timeline</h2>
                <p>The timeline below will remain fixed as you navigate the visualizations. Use it to select the range of years you want to examine and it will affect all the visualizations on the page.</p>
                <p>Overlaid on the timeline, markers indicate major events that have occured since 1984. Use the links above to change the category of events being displayed.</p>
            </div>
        </section>
    </div>
    <section class="filtering-nav bg-white">
        <nav class="navbar navbar-default">
            <div class="container">
                <span class="navbar-brand"><a href="#" class="scrollto" data-position="0" title="Return to top"><span class="glyphicon glyphicon-home"></span></a>&nbsp;&nbsp;Event Timeline</span>
                <ul class="nav navbar-nav timeline-events">
                    <li class="active"><a href="#">Financial</a></li>
                    <li><a href="#">Natural Disasters</a></li>
                    <li><a href="#">Political</a></li>
                    <li><a href="#">Military</a></li>
                </ul>
                <p class="navbar-text navbar-right timeline-range"></p>
                <p class="navbar-text navbar-right"><em>Selected:</em></p>
            </div>
        </nav>
        <div class="container">
            <div id="timeline"></div>
        </div>
    </section>
    <div class="vis-container">
        <div class="container">
            <h2 class="vis-title text-center">Demographic Radar</h2>
            <div class="radar-charts">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="radar-chart">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radar-filter">
                            <label>Show values as</label>
                            <select class="form-control" id="value-type-radar" onchange="radarChart.wrangleData()">
                                <option value="adjustedValue">Inflation Adjusted Dollars</option>
                                <option value="value">Raw dollars</option>
                                <option value="valuePercentIncome">Percent of Income</option>
                            </select>
                        </div>
                        <hr class="style17">
                        <div class="stories">
                            <div class="current-story radar"></div>
                            <div class="story-picker radar">
                                <h4>Choose a story</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="style17">
            <div class="layer-cake">
                <h2 class="text-center">Expenditure Layer Cake</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Show values as</label>
                        <select class="form-control" id="value-type-area" onchange="wrangleAll()">
                            <option value="adjustedValue">Inflation Adjusted Dollars</option>
                            <option value="value">Raw dollars</option>
                            <option value="valuePercentIncome">Percent of Income</option>
                            <option value="percent">Percentage</option>
                        </select>
                        <hr class="style17">
                        <div class="stories">
                            <div class="current-story area"></div>
                            <div class="story-picker area">
                                <h4>Choose a story</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="household">
                            <nav class="navbar navbar-default">
                                <ul class="nav navbar-nav area-chart-nav">
                                    <li class="area-chart-nav-li active" id="area-chart-nav-all">
                                        <a href="javascript:void(0)" onclick="areachart.selectSubCatagory('all')">
                                            <div class="square">
                                            </div>All<span class="sr-only"></span></a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="vis-stacked">
                                <div id="stacked-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="style17">
            <div class="tree-charts">
                <h2 class="vis-title text-center">The Money Tree</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Reading the tree</h4>
                        <ul class="unstyled">
                            <li>Tree <em>height</em> &rarr;Income earned</li>
                            <li>Branch <em>length</em> &rarr; % income spent in category represented by leaf</li>
                            <li>Leaf <em>health</em> &rarr; Tracks category cost against inflation</li>
                            <ul>
                                <li><em>Size</em> of pink "flower" represents difference at which item cost has grown <strong>slower</strong> than inflation (good)</li>
                                <li><em>Brownness</em> of leaf represents difference at which item cost has grown <strong>faster</strong> than inflation (bad)</li>
                            </ul>
                        </ul>
                        <p>The trees represent the beginning and end of the selected range in the timeline. Slide, expand or contract the timeline selection to see trends over time.</p>
                        <p>Refine the data by selecting from the various demographics, and hover over the leaves for more details.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div id="tree-controls-and-story" style="position:relative;min-height:600px;">
                            <div id="tree-story-container">
                                <div class="current-story tree"></div>
                                <div class="story-picker tree">
                                    <h4>Choose a story</h4>
                                </div>
                            </div>
                            <div class="fixed-tree-controls" style="position:absolute;bottom:0px;">
                                <div class="tree-demo-picker"></div>
                                <div class="tree-char-picker"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div id="tree-grid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="template" id="standard-dropdown">
        <label for="<%-pickerId%>">
            <%-pickerName%>
        </label>
        <select class="form-control" id="<%-pickerId%>">
            <% choices.forEach(function(c){ %>
                <option value="<%-c.value%>">
                    <%-c.name%>
                        <% }); %>
        </select>
    </script>
    <script type="template" id="multiple-plot-template">
        <div id="<%-plotId%>">
            <% var count = 1; %>
                <% for (var i=0; i < rowCount; i++) { %>
                    <div class="row">
                        <% for (var j=0; j < colCount; j++) { %>
                            <div class="col-sm-<%= parseInt(12/colCount, 10)%>" id="<%-plotId%>-<%=count%>">
                            </div>
                            <% count++; %>
                                <% } %>
                    </div>
                    <% } %>
        </div>
    </script>
    <div class="hidden story" data-section="radar" data-demographic="LB04" data-item="HOUSING" data-value-type="adjustedValue" data-year-from="2004" data-year-to="2014">
        <h3>This Old House</h3>
        <p>In 2014, older households (those with a reference person 55 years and older) made up 41.5 percent of the
            <abbr title="Consumer Expenditure">CE</abbr> sample, compared with 37.5 percent in 2009 and 34.6 percent in 2004, reflecting the aging of the U.S. population.</p>
        <p>Housing was the greatest expense in dollar terms ($16,219) and as a share of annual expenditures (32.9 percent) for older households. The statistically significant decline in dollar expenditure reflects the decline in mortgage debt among (aging) households.</p>
    </div>
    <div class="hidden story" data-section="radar" data-demographic="LB08" data-item="BEEF" data-value-type="adjustedValue" data-year-from="2004" data-year-to="2014">
        <h3>Where's The Beef? (and Pork)</h3>
        <p>Looking at the data for the last ten years, there is a marked decrease in the amount of money spent on beef and pork, and generally on meats. What could it mean? The consumer price index does not suggest that meat got more affordable; are we making healthier choices?</p>
    </div>
    <div class="hidden story" data-section="area" data-demographic="LB01" data-characteristic="04" data-year-from="1990" data-year-to="2010">
        <h3>Stop, drop and roll</h3>
        <p>Three major spikes in flooring consumption during the 1990's were followed by a decade of relatively low, flat consumption. One big spike peaked not long after the northridge earthquake...did it shake up the flooring market?</p>
    </div>
    <div class="hidden story" data-section="tree" data-demographic="LB01" data-characteristic="04" data-year-from="1987" data-year-to="1993">
        <h3>Middle Class, Empty Glass</h3>
        <p>In 1993, the middle class cut their spending by almost 50% on alcohol compared to 1987. They also spent less on entertainment, though recreational costs remained relatively cheap compared to increasing costs in healthcare and education. Income was also flat between the two years. The early 90's was not kind to the middle class.</p>
        <p>Have a look at how top 20% was doing over the same time period.</p>
    </div>
</body>

</html>
