<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The American Consumer - 25 Years Of Spending Trends</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="lib/d3.min.js"></script>
        <script src="lib/d3.tip.js"></script>
        <script src="lib/jquery.min.js"></script>
        <script src="lib/underscore.min.js"></script>
        <script src="lib/queue.min.js"></script>
        <script src="lib/jquery-scrolltofixed.js"></script>
        <script src="js/timeline.js"></script>
        <script src="js/colorbrewer.js"></script>
        <script src="js/adjusted-dollars.js"></script>
        <script src="js/dataset.js"></script>
        <script src="js/radar.js"></script>
        <script src="js/multiple-plot.js"></script>
        <script src="js/stacked-area.js"></script>
        <script src="js/demographic-picker.js"></script>
        <script src="js/characteristic-picker.js"></script>
        <script src="js/tree.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body class="index">
        <div class="jumbotron">
            <h1>The American<br>Consumer</h1>
            <h2>25 Years Of Spending Trends</h2>
            <p class="intro">Every year the Bureau of Labor Statistics produces The Consumer Expenditure Survey, a study that provides information on the buying habits of American consumers, including data on their expenditures, income, and consumer unit (families and single consumers) characteristics. The survey data are collected for the Bureau of Labor Statistics by the U.S. Census Bureau.</p>
        </div>
        <section class="filtering-nav bg-white">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <span class="navbar-brand">The American Consumer</span>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <label>
                                Show values as &nbsp;
                            </label>
                            <select class="form-control" id="area-chart-type" onChange="areachart.wrangleData()">
                                <option value="inflateAdjusted">Inflation Adjusted Dollars</option>
                                <option value="rawData">Raw dollars</option>
                                <option value="percentIncome">Percent of Income</option>
                                <option value="percent">Percentage</option>
                            </select>
                        </div>
                    </form>
                </div>
            </nav>
            <div class="container-fluid">
                <div id="timeline"></div>
            </div>
        </section>


        <div class="radar-charts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="radar-chart">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="stories glyph-intro">
                        <div class="current-story"></div>
                        <div class="story-picker"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer-cake">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="household">
                            <h1>American Household Expenditures</h1>
                            <h2>A Many-Layered Cake Of Delicious Spending</h2>
                            <div class="vis-stacked">
                                <div id="stacked-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="vis-tree">
        </div>
        <script type="template" id="standard-dropdown">
        <label for="<%-pickerId%>"><%-pickerName%></label>
        <select class="form-control" id="<%-pickerId%>">
            <% choices.forEach(function(c){ %>
            <option value="<%-c.value%>"><%-c.name%>
                <% }); %>
            </select>
        </script>
        <script type="template" id="multiple-plot-template">
            <div class="container" id="<%-plotId%>">
                <% var count = 1; %>
                <% for (var i=0; i < rowCount; i++) { %>
                <div class="row">
                    <% for (var j=0; j < colCount; j++) { %>
                    <div class="col-md-6" id="<%-plotId%>-<%=count%>">
                    </div>
                    <% count++; %>
                    <% } %>
                </div>
                <% } %>
            </div>
        </script>

        <div class="hidden-story" id="getting-old" data-demographic="LB04" data-item="HOUSING">
            <h3>Getting old</h3>
            <p>In 2014, older households (those with a reference person 55 years and older) made up 41.5 percent of the CE sample, compared with 37.5 percent in 2009 and 34.6 percent in 2004, reflecting the aging of the U.S. population.</p>
            <p>
                Housing was the greatest expense in dollar terms ($16,219) and as a share of annual expenditures (32.9 percent) for olderhouseholds. Spending was greatest ($18,006) for the 55–64 age group, decreasing to $15,838 for the 65–74 group before declining to $13,375 for the 75-and-older group. The statistically significant decline in dollar expenditure reflects the decline in mortgage debt among households. Among older homeowner households, 59.5 percent were mortgage free. The proportion of homeowners without mortgage debt was 44.2 percent for the 55–64 age group, 61.7 percent for the 65–74 group, and 82.5 percent for the 75-and-older group.
            </p>
        </div>
        <div class="hidden-story" id="old-entertainment" data-demographic="LB04" data-item="ENTRTAIN">
            <h3>Don't need to spend to have fun (when you're old)</h3>
            <p>Entertainment spending averaged $2,604 for the group as a whole. The difference between the $2,852 spent by the 55–64 age group and the $2,988 spent by the 65–74 age group was not statistically different. The $1,626 spent by the 75-and older group was statistically different from the amounts spent by the other age groups.7 Existing studies using CE data found that, other factors being equal, entertainment spending declines with age.
            </p>
        </div>
    </body>
</html>